<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="register-container">
        <h1>Initialise Account</h1>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="USERNAME" required>
            <input type="tel" name="phonum" placeholder="PHONE NUMBER" required>
            <input type="email" name="email" placeholder="EMAIL ADDRESS" required>
            <input type="password" name="password" placeholder="PASSWORD" required>
            <input type="number" name="deposit" placeholder="INITIAL DEPOSIT" required>
            <button type="submit">Register Unit</button>
        </form>
        <br>
        <a href="/">Abort</a>
    </div>
</body>
</html>